@media screen and (max-width: 900px) {
    header .menu-desktop, header .btn-contato {
        display: none;
    }
}

@media screen and (max-width: 878px) {
    /* responsivo da sessão hero */
    .hero-site .txt-hero h1 {
        font-size: 2.6em;
        line-height: 45px;
    }

    .hero-site .txt-hero p {
        font-size: 14px;
    }

    .hero-site .txt-hero p span {
        display: inline;
    }

    .hero-site button {
        font-size: 18px;
    }

    /* responsivo da sessão vantagens */

    .vantagens .itens-container {
        flex-direction: column;
    }

    .vantagens .itens-container .img-itens img {
        width: 100%;
    }

    .vantagens .itens-container .txt-itens p {
        margin-bottom: 20px;
    }

    .vantagens .itens-container .item-1 {
        order: 1;
    }

    .vantagens .itens-container .item-2 {
        order: 0;
    }

    /* responsivo da sessão contato */

    .txt-contato, .icons-contato {
        display: block;
        width: 100%;
    }

    .contato .txt-contato h3 {
        font-size: 2em;
        line-height: 40px;
    }

    .contato .txt-contato p {
        margin-bottom: 20px;
    }

    .contato .icons-contato button {
        width: 100%;
    }

    /* responsivo da seção hotéis */

    .hoteis h3 {
        font-size: 2.3em;
        line-height: 40px;
    }

    .hoteis p {
        margin: 20px 0;
        font-size: 16px;
    }

    /* responsivo da sessão como funciona */

    .txt-funciona, .instrucoes {
        display: block;
        width: 100%;
    }

    .como-funciona .txt-funciona {
        position: static;
    }

    .como-funciona .txt-funciona h3 {
        font-size: 3em;
        line-height: 50px;
    }

    .instrucoes .instru-box {
        flex-direction: column;
        text-align: center;
    }

    /* responsivo do rodapé */

    footer .middle-footer a {
        margin: 15px 0;
        display: block;
    }

    footer .bottom-footer p{
        font-size: 14px;
    }
}